.new-collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
}
.new-collections h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.new-collections-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    justify-content: space-evenly;
    gap: 20px;
}
.new-collections-item img{
    height: 470px;
    width: 100%;
}
.new-collections hr{
    width: 200px;
    height: 4px;
    border-radius: 10px;
    background: #283618;
}