.item{
    width: 350px;
}
.item p{
    text-align: center;
    margin: 6px 0px;
}
.item-prices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.itemp-price-new{
    color:374151;
    font-size:18px;
    font-weight: 600;
}
.item-price-old{
    color: #8c8c8c;
    font: 500 18px;
    text-decoration: line-through;
}
.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}