.offers{
    width: 65%;
    height: 70vh;
    display: flex;
    margin:auto;
    padding: 0 140px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: linear-gradient(180deg ,#f8eeb1, #bdd8bb 80%);
}
.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.offers-left h1{
    color: #171717;
    font-size: 80px;
    font-weight: 600;
}
.offers-left p{
    color: #171717;
    font-size: 22px;
    font-weight: 500;
}
.offers-left button{
    width: 282px;
    height: 70px;
    border-radius: 35px;
    border: none;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin: 15px 0;
    cursor: pointer;
}
.offers-left button:hover{
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}
.offers-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 100px;
}
.offers-right img{
    height: 65vh;
}