.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    box-shadow: 0 1px 3px -2px  black;
    margin-top: -30px;
    margin-bottom: -20px;
}
.navLogo{
    height: 200px;
    width: 300px;
}
.nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 50px;
    color: #d4a373;
    font-size: 20px;
    font-weight: 500;
}
.nav-menu li{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
    cursor: pointer;
}
.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #FF4141;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}
.nav-login-cart button{
    width: 157px;
    height: 58px;
    outline: none;
    border: 1px solid #e9edc9;
    border-radius: 75px;
    color: #d4a373;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
    font-family: 'Playfair Display';
}
.nav-login-cart button:active{
    background-color: #ccd5ae;
}
.nav-login-cart button:hover{
    transform: scale(1.15);
    transition: ease-in-out .7s;
}
.navLogoCart{
    height: 25px;
    width: 25px;
}
.nav-cart-count{
    height: 22px;
    width: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -31px;
    margin-left: -47px;
    border-radius: 11px;
    font-size: 14px;
    background-color: red;
    color: white;
}