.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}
.popular h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.popular-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    justify-content: space-evenly;
    gap:20px;
}
.popular-item img{
    height: 450px;
    width: 100%;
}
.popular hr{
    width: 200px;
    height: 1px;
    border-radius: 10px;
    background: #283618;
}